/* MapPage.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* Aspect ratio 4:3 */
  margin-bottom: 20px; /* Espace sous la carte */
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px); /* Réduire la hauteur pour laisser de l'espace en bas */
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.header h1 {
  margin: 0;
}

.alert-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espace au-dessus du bouton */
}

.alert-button {
  text-align: center;
}

.alert-button button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.alert-button button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  #map {
    height: calc(100% - 80px); /* Ajuster la hauteur pour les petits écrans */
  }
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}
