/* App.css */

body {
  background-image: url('C:\Users\Master\OneDrive\Bureau\React\locavelo\camp.jpg'); /* Chemin vers l'image de fond */
  background-size: cover;
  background-position: center;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f3f7f5; /* Vert clair - pour évoquer la verdure */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3e5c76; /* Bleu foncé */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: #3e5c76; /* Bleu foncé */
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 12px 24px;
  margin-top: 10px;
  background-color: #7ebd5e; /* Vert nature */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition douce */
}

button:hover {
  background-color: #578944; /* Vert foncé */
}

.message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}

.error-message {
  background-color: #f8d7da; /* Rouge clair */
  border: 1px solid #f5c6cb; /* Rouge */
  color: #721c24; /* Rouge foncé */
}

.success-message {
  background-color: #d4edda; /* Vert clair */
  border: 1px solid #c3e6cb; /* Vert */
  color: #155724; /* Vert foncé */
}

.footer {
  margin-top: 20px;
  text-align: center;
  color: #3e5c76; /* Bleu foncé */
}
