body {
  background-color: #f3f7f5; /* Couleur de fond à la place de l'image */
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff; /* Fond blanc pour le formulaire */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3e5c76; /* Bleu foncé */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: #3e5c76; /* Bleu foncé */
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 12px 24px;
  margin-top: 10px;
  background-color: #7ebd5e; /* Vert nature */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition douce */
}

button:hover {
  background-color: #578944; /* Vert foncé */
}

.success-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #d4edda; /* Vert clair */
  border: 1px solid #c3e6cb; /* Vert */
  color: #155724; /* Vert foncé */
}

/* Styles spécifiques pour les écrans de téléphone */
@media (max-width: 600px) {
  .login-container {
    width: 90%;
    margin: 10px;
    padding: 15px;
  }

  button {
    padding: 10px 20px;
  }
}